body {
    background-color: bisque;
}


.navbar-brand {
    color: white;
    font-size: 1.5em;
}

#myNavbar {
    background-color: #999999;
}

#myNavbar a {
    color: white;
    font-size: 1.2em;
}

#main {
    background-color: wheat;
}
